html,
body {
  font-family: "微軟正黑體";
  font-size: 13px;
}

span {
  font-weight: bold;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.flex {
  width: 30%;
}

#login-user {
  font-size: 20px;
  border-radius: 5px;
  background-color: #a7c2d3;
  margin-bottom: 20px;
  padding: 10px;
  color: #ffffff;
}

div#user-list > div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.font-desc {
  color: #aaa;
  font-size: 13px;
}

.article {
  background-color: #e3eff7;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}

#article_title,
#article_content,
#find-user {
  width: 300px;
  height: 15px;
  padding: 5px 5px;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
  outline: none;
}

#article-list {
  margin-top: 20px;
}

#article-list > .article > span,
#article-list > .article > div {
  color: #44474f;
}

#get-all-articles,
#submit,
div#user-list > div > button {
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px px;
  cursor: pointer;
  background-color: #94acbc;
  margin-left: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#articlePostForm {
  margin-top: 50px;
  margin-bottom: 50px;
}
